/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*BASIC SETTINGS*/
body {
    font-family: 'Lobster', cursive;

}

p {
    font-family: 'Marck Script', cursive;
    color:  #585858;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.857;
}
ul {
    list-style: none;
}
a, a:hover, a:active, a:visited {
    text-decoration: none !important;
}

html {
    font-size: 10px;
}

.container {
    overflow-x: hidden;
    height: 100%;
    position: relative;
    z-index: 999;
}

.about, .myservices, .portfolio,.reviews, .contact {
    padding: 8rem 0;
}

.upper {
    text-transform: capitalize;
}

.line {
    background: #282828;
    margin: 0 auto;
    height: 0.2rem;

}
/*TOP SECTION*/
.top-section {
    position: relative;
    height: 100vh;
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
}
.top-section:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    background-image: -o-linear-gradient( 315deg, rgb(170,0,255) 0%, rgb(245,0,87) 100%);
    background-image: linear-gradient( 135deg, rgb(170,0,255) 0%, rgb(245,0,87) 100%);
    z-index: 2;
    opacity: 0.85;
}

header {
    position: relative;
    margin-top: 40px;
}

.header a img {
    width: 9rem;
    height: 4rem;
}

.logo {
    float: left;
}

.top-nav {
    float: right;
}

.nav li {
    float: left;
    margin-left: 4rem;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 4rem;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.titles {
   position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%)
}


.titles h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 7.5rem;

}

.titles p {
    margin-top: -2rem;
    color: #fff;
}

.titles a {
    margin-top: 5rem;
    width: 15rem;
    height: 4.2rem;
    display: block;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2.1rem;
    line-height: 4.2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}/*END TOP SECTION*/

/*ABOUT SECTION*/


.about h2 {
    margin-bottom: 7rem;
    color:  #aa00ff;
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.about h3 {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;

}

.my-photo {
    position: relative;
    overflow: hidden;
    height: 43.5rem;
}

.box-img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-47%, -50%);
        -ms-transform: translate(-47%, -50%);
            transform: translate(-47%, -50%);
}

.hearted {
    margin: 0 auto;
    height: 30rem;
    width: 10rem;
}


.about-right p{
    margin: 2rem 0;
}

@-webkit-keyframes heart {
  from{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes heart {
  from{
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

.heart-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: heart 1.8s infinite linear;
          animation: heart 1.8s infinite linear;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.heart {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: rgb(255, 203, 219);
}

.love1 {
  left: 0;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.love1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 70%;
  width: 2rem;
  height: 2rem;
  background: rgb(255, 203, 219);
  -webkit-transform: rotate(deg);
      -ms-transform: rotate(deg);
          transform: rotate(deg);
}

.love2 {
  right: 0;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.love2:before {
  position: absolute;
  right: 0;
  top: 70%;
  content: "";
  width: 2rem;
  height: 2rem;
  background: rgb(255, 203, 219);
}/*END ABOUT SECTION*/